@font-face {
  font-family: ubuntu;
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: ubuntu-reg;
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}
* {
  box-sizing: border-box;
  font-family: ubuntu;
}

body {
  font-size: 16px;
}

.desk {
  display: flex;
}

.side-bar {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-origin: border-box;
  background-size: cover;
  border-radius: 1em;
  width: 50vw;
  background-repeat: no-repeat;
  min-height: 90vh;
}

h4 {
  text-transform: uppercase;
  color: hsl(231deg, 100%, 99%);
}

li h4:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
}

.list {
  position: relative;
  top: 2em;
  left: 2em;
}

li {
  list-style-type: none;
  position: relative;
  margin-bottom: 2em;
  color: hsl(231deg, 100%, 99%);
}

li::before {
  position: absolute;
  width: 2em;
  height: 2em;
  left: -30px;
  top: 6px;
  border-radius: 50%;
  border: 2px solid hsl(231deg, 100%, 99%);
  content: "";
}

li:nth-child(2)::before {
  background-color: hsl(206deg, 94%, 87%);
}

.side-bar div {
  margin-left: 2em;
}

div p {
  position: absolute;
  left: -1em;
}

#page-2 {
  margin: 2em -2em 0 4em;
  height: 90vh;
  max-width: 450px;
  position: absolute;
  top: 0.6em;
  left: 50%;
}

.header:first-child {
  color: hsl(213deg, 96%, 18%);
  font-weight: bold;
  margin-bottom: 2em;
}

.header:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
  margin-bottom: 2em;
  font-family: ubuntu-reg;
}

.cards {
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.cards div:not(.active-card) {
  border-radius: 10px;
  height: 13em;
  padding: 1em 3em 0 1em;
  width: 9em;
  position: relative;
  cursor: pointer;
}

.card-3, .card-2 {
  border: 1px solid hsl(229deg, 24%, 87%);
  margin-left: 2em;
}

.cards div:hover {
  border-color: hsl(213deg, 96%, 18%);
  background-color: hsl(229deg, 24%, 87%);
}

.active-card {
  border: 1px solid hsl(213deg, 96%, 18%);
  background-color: hsl(229deg, 24%, 87%);
  border-radius: 10px;
  height: 13em;
  padding: 1em 3em 0 1em;
  width: 8em;
  left: 0;
  opacity: 1;
  position: absolute;
  cursor: pointer;
  z-index: -1;
}

.cards div h3 {
  padding-top: 75em;
}

.package {
  position: absolute;
  bottom: 1em;
  font-weight: 900;
  text-transform: capitalize;
  color: hsl(213deg, 96%, 18%);
}

.pricing {
  color: hsl(231deg, 11%, 63%);
  position: absolute;
  bottom: -0.5em;
}

.sub-btn {
  display: flex;
  justify-content: space-around;
  background-color: hsl(229deg, 24%, 87%);
  margin-top: 3em;
  height: 50px;
  border-radius: 10px;
}

.toggle {
  width: 4em;
  height: 1.6em;
  background-color: hsl(213deg, 96%, 18%);
  border-radius: 4em;
  position: relative;
  margin: 0 -12em;
  top: 1em;
}

.active-toggle {
  transform: translateX(40px);
}

.active-color {
  color: hsl(213deg, 96%, 18%);
}

.toggle span {
  border-radius: 50%;
  background-color: hsl(231deg, 100%, 99%);
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  top: 0.1em;
  left: 0.1em;
  cursor: pointer;
  transition: 1s;
}

.navigation {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 150px;
  left: -80px;
  max-height: 30px;
}

.navigation a {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
}

.navigation a:hover {
  color: hsl(213deg, 96%, 18%);
}

#page-2 button {
  background-color: hsl(213deg, 96%, 18%);
  position: relative;
  top: -1.32em;
  left: 11.8em;
  padding: 1em 1.3em;
  text-align: center;
  color: hsl(231deg, 100%, 99%);
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  .desk {
    display: block;
  }
  .app {
    background-color: hsl(206deg, 94%, 87%);
    height: 120vh;
  }
  .side-bar {
    background-size: contain;
    width: 100%;
    height: 490px;
    position: relative;
    top: -2em;
  }
  .list {
    display: flex;
    justify-content: center;
    left: 10%;
    top: 100px;
    width: 80%;
  }
  li {
    margin-right: 2em;
    margin-top: -4em;
  }
  li h4 {
    display: none;
  }
  #page-2 {
    margin: 2em -2em 0 4em;
    border: 1px solid hsl(229deg, 24%, 87%);
    border-radius: 0.4em;
    position: absolute;
    top: 10%;
    left: -12.6%;
    width: 95%;
    background-color: hsl(231deg, 100%, 99%);
    height: 90vh;
    padding: 1em 0 0 2em;
  }
  .header:nth-child(2) {
    width: 250px;
    font-size: 16px;
    font-weight: 100;
  }
  .cards {
    flex-direction: column;
  }
  .cards div:not(.active-card) {
    width: 98%;
    height: 6em;
    left: -1.8em;
    margin-bottom: 1em;
    z-index: 999;
  }
  .pricing {
    left: 4em;
    bottom: 0.4em;
  }
  .package {
    left: 4em;
    bottom: 2em;
  }
  .active-card {
    height: 6em;
    width: 98%;
    z-index: 1;
    opacity: 1;
    top: 1em;
  }
  .card-1 {
    margin: 1em 0 1em 2em;
    outline: none;
  }
  .subtext {
    margin-left: 5.8em;
    color: hsl(243deg, 100%, 62%);
    font-family: ubuntu-reg;
  }
  .sub-btn {
    width: 97%;
    background-color: hsl(217deg, 100%, 97%);
    margin-top: 0;
    border-radius: 10px;
  }
  .toggle {
    margin: 0 -6em;
  }
  #page-2 button {
    left: 10em;
  }
  .navigation {
    top: 6em;
  }
}/*# sourceMappingURL=styles.css.map */