// ### Primary

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// ### Neutral
$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100);

@font-face {
    font-family:ubuntu-bold ;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family:ubuntu-medium ;
    src: url(/assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family:ubuntu-regular ;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}
*{
    box-sizing: border-box;
    
}
.inactive{
    display: none;
}
body{
    font-size: 16px;
    font-family: ubuntu-bold;
}
.desk{
    display: flex;
}
.side-bar{
   background-image:url('/assets/images/bg-sidebar-mobile.svg') ;  
background-origin: border-box;
   background-size: cover;
   border-radius: 1em;
width: 50vw;
  background-repeat: no-repeat;
min-height: 90vh;
font-family: ubuntu-bold;

}
h4{
    text-transform: uppercase;
    color: $Alabaster;
}
li h4:nth-child(2){
    color: $Coolgray;
}
.list{
    position: relative;
    top: 2em;
    left: 2em;
}
li{
  list-style-type:none ;
    position: relative;
    margin-bottom: 6em;
    color: $Alabaster;
    
}
li::before{
    
    position: absolute;
    width: 2em;
    height: 2em;
    left: -30px;
    top: 6px;
    border-radius: 50%;
border:2px solid $Alabaster;
    content: '';
 
}
li:nth-child(3)::before{
    background-color: $Light-blue;
}
.side-bar div{
    margin-left: 2em;
}
div > p:not(main p){
    position: absolute;
    left: -1em;
}

// main page

.header{
    display: inline-block;
}
.header p{
     color: $Lightgray;
   
 }
 .header:first-child{
    color: $Marine-blue;
    font-weight: 900;
    margin-bottom: 2em;
}
.header:nth-child(2){
    color: $Coolgray;
    margin-bottom: 2em;
}
 .wrapper{
     width: 500px;
 }
 .wrapper div:not(:last-child,.container){
border: 2.2px solid $Purplish-blue;
 }
 .wrapper div:last-child{
    border: 2.2px solid $Lightgray;
 }
 .wrapper div{
     margin-bottom: 1em;
     border-radius: 8px;
     
 }
 .main-container:last-child:hover{
    cursor: pointer;
    border: 2.2px solid $Purplish-blue;
 }
 .container{
     display: flex;
     justify-content: space-between;
 
 }

 .container + p{
    margin: -1.4em 0 1em 4.2em;
    color: $Lightgray;
    font-weight: 600;
 }
 .container p:nth-child(3){
     color: $Pastel-blue;
     margin-right:3em ;
    
 }
 input{
    margin: 4em 0 0 2em;
    cursor: pointer;
    position: relative;
    accent-color: $Purplish-blue;
 }


 
input + p{
  color: $Marine-blue;
  font-weight: 900; 
  margin-left: -9em; 
  padding: 0; 
min-width: 143px;
 }
 main{
    margin:2em -2em 0 4em;
    overflow-x: hidden;
    min-height: 90vh;
    width: 500px;
    position: relative;
}
#error-box{
    color: $Strawberry-red;
    position: absolute;
    left: 50%;
}
#page-2{
    position: absolute;
    top: .6em;
    left: 50%;
   
}
 
.navigation{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    left: -80px;
    max-height: 30px;
    
}

.navigation a{
text-decoration: none;
color: $Coolgray;
cursor: pointer;
}
.navigation a:hover{
    color: $Marine-blue;

}
main button{
    background-color: $Marine-blue;
    position: relative;
   top: -1.32em;
    left: 16em;
    padding:1em 1.3em;
    text-align: center;
    color: $Alabaster;
    border-radius: 3px;
    cursor: pointer;
}