@font-face {
  font-family: ubuntu-bold;
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: ubuntu-medium;
  src: url(/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: ubuntu-regular;
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: ubuntu-bold;
}

.desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-bar {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-origin: border-box;
  background-size: cover;
  border-radius: 1em;
  width: 50vw;
  background-repeat: no-repeat;
  min-height: 90vh;
  font-family: ubuntu-bold;
}

h4 {
  text-transform: uppercase;
  color: #fafbff;
}

li h4:nth-child(2) {
  color: #9699ab;
}

.list {
  position: relative;
  top: 2em;
  left: 2em;
}

li {
  list-style-type: none;
  position: relative;
  margin-bottom: 6em;
  color: #fafbff;
}

li::before {
  position: absolute;
  width: 2em;
  height: 2em;
  left: -30px;
  top: 6px;
  border-radius: 50%;
  border: 2px solid #fafbff;
  content: '';
}

li:nth-child(3)::before {
  background-color: #bfe2fd;
}

.side-bar div {
  margin-left: 2em;
}

div > p:not(main p) {
  position: absolute;
  left: -1em;
}

.header {
  display: inline-block;
}

.header p {
  color: #d6d9e6;
}

.header:first-child {
  color: #02295a;
  font-weight: 900;
  margin-bottom: 2em;
}

.header:nth-child(2) {
  color: #9699ab;
  margin-bottom: 2em;
}

.wrapper {
  width: 500px;
}

.wrapper div:not(:last-child, .container) {
  border: 2.2px solid #473dff;
}

.wrapper div:last-child {
  border: 2.2px solid #d6d9e6;
}

.wrapper div {
  margin-bottom: 1em;
  border-radius: 8px;
}

.main-container:last-child:hover {
  cursor: pointer;
  border: 2.2px solid #473dff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container + p {
  margin: -1.4em 0 1em 4.2em;
  color: #d6d9e6;
  font-weight: 600;
}

.container p:nth-child(3) {
  color: #adbeff;
  margin-right: 3em;
}

input {
  margin: 4em 0 0 2em;
  cursor: pointer;
  position: relative;
  accent-color: #473dff;
}

input + p {
  color: #02295a;
  font-weight: 900;
  margin-left: -9em;
  padding: 0;
  min-width: 143px;
}

main {
  margin: 2em -2em 0 4em;
  overflow-x: hidden;
  min-height: 90vh;
  width: 500px;
}

#page-2 {
  position: absolute;
  top: .6em;
  left: 50%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 100px;
  left: -80px;
  max-height: 30px;
}

.navigation a {
  text-decoration: none;
  color: #9699ab;
  cursor: pointer;
}

.navigation a:hover {
  color: #02295a;
}

main button {
  background-color: #02295a;
  position: relative;
  top: -1.32em;
  left: 16em;
  padding: 1em 1.3em;
  text-align: center;
  color: #fafbff;
  border-radius: 3px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */