@font-face {
  font-family: ubuntu-bold;
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: ubuntu-medium;
  src: url(/assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: ubuntu-regular;
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}
* {
  box-sizing: border-box;
}

.inactive {
  display: none;
}

body {
  font-size: 16px;
  font-family: ubuntu-bold;
}

.desk {
  display: flex;
}

.side-bar {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-origin: border-box;
  background-size: cover;
  border-radius: 1em;
  width: 50vw;
  background-repeat: no-repeat;
  min-height: 90vh;
  font-family: ubuntu-bold;
}

h4 {
  text-transform: uppercase;
  color: hsl(231deg, 100%, 99%);
}

li h4:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
}

.list {
  position: relative;
  top: 2em;
  left: 2em;
}

li {
  list-style-type: none;
  position: relative;
  margin-bottom: 4em;
  color: hsl(231deg, 100%, 99%);
}

li::before {
  position: absolute;
  width: 2em;
  height: 2em;
  left: -30px;
  top: 6px;
  border-radius: 50%;
  border: 2px solid hsl(231deg, 100%, 99%);
  content: "";
}

li:nth-child(3)::before {
  background-color: hsl(206deg, 94%, 87%);
}

.side-bar div {
  margin-left: 2em;
}

div > p:not(main p) {
  position: absolute;
  left: -1em;
}

.header {
  display: inline-block;
}

.header p {
  color: hsl(231deg, 11%, 63%);
  font-family: ubuntu-medium;
  font-weight: 200;
}

.header:first-child {
  color: hsl(213deg, 96%, 18%);
  font-weight: 900;
  margin-bottom: 2em;
}

.header:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
  margin-bottom: 2em;
}

.wrapper {
  width: 500px;
}

.wrapper div:not(:last-child, .container) {
  border: 2.2px solid hsl(243deg, 100%, 62%);
}

.wrapper div:last-child {
  border: 2.2px solid hsl(229deg, 24%, 87%);
}

.wrapper div {
  margin-bottom: 1em;
  border-radius: 8px;
}

.main-container:last-child:hover {
  cursor: pointer;
  border: 2.2px solid hsl(243deg, 100%, 62%);
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container + p {
  margin: -1.4em 0 1em 4.2em;
  color: hsl(231deg, 11%, 63%);
  font-weight: 600;
}

.container p:nth-child(3) {
  color: hsl(243deg, 100%, 62%);
  margin-right: 3em;
}

input {
  margin: 4em 0 0 2em;
  cursor: pointer;
  position: relative;
  accent-color: hsl(243deg, 100%, 62%);
}

input + p {
  color: hsl(213deg, 96%, 18%);
  font-weight: 900;
  margin-left: 4em;
  padding: 0;
  min-width: 143px;
  position: absolute;
}

main {
  margin: 2em -2em 0 4em;
  height: 90vh;
  width: 500px;
  position: relative;
}

#error-box {
  color: hsl(354deg, 84%, 57%);
  position: absolute;
  left: 50%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  left: -80px;
  max-height: 30px;
}

.navigation a {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
  cursor: pointer;
}

.navigation a:hover {
  color: hsl(213deg, 96%, 18%);
}

main button {
  background-color: hsl(213deg, 96%, 18%);
  position: relative;
  top: -1.32em;
  left: 11.8em;
  padding: 1em 1.3em;
  text-align: center;
  color: hsl(231deg, 100%, 99%);
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    outline: 0;
  }
  .desk {
    display: block;
  }
  .app {
    background-color: hsl(206deg, 94%, 87%);
    height: 100vh;
  }
  .side-bar {
    background-size: contain;
    width: 100%;
    height: 490px;
    position: relative;
    top: -2em;
  }
  .list {
    display: flex;
    justify-content: center;
    left: 10%;
    top: 100px;
    width: 80%;
  }
  li {
    margin-right: 2em;
    margin-top: -4em;
  }
  li h4 {
    display: none;
  }
  main {
    margin: 2em -2em 0 4em;
    border: 1px solid hsl(229deg, 24%, 87%);
    border-radius: 0.4em;
    position: absolute;
    top: 10%;
    left: -9.5%;
    width: 90%;
    background-color: hsl(231deg, 100%, 99%);
    height: 420px;
    padding: 1em 0 0 2em;
  }
  .header p {
    width: 300px;
  }
  .main-container {
    width: 95%;
    height: 10vh;
  }
  .wrapper {
    width: 100%;
  }
  input {
    top: -2em;
  }
  input + p {
    margin-left: 3em;
    top: -0.7em;
  }
  .container + p {
    margin: -3.5em 0 1em 3.7em;
    font-family: ubuntu-regular;
    font-weight: 100;
    font-size: 13px;
  }
  .container p:nth-child(3) {
    position: absolute;
    right: -2em;
  }
  main button {
    left: 11.2em;
  }
  #error-box {
    left: 40%;
    margin-top: -1em;
  }
}/*# sourceMappingURL=styles.css.map */