@font-face {
  font-family: ubuntu-bold;
  src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: ubuntu-medium;
  src: url(/assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: ubuntu-regular;
  src: url(/assets/fonts/Ubuntu-Regular.ttf);
}
* {
  box-sizing: border-box;
  outline: 2px solid yellow;
}

.inactive {
  display: none;
}

body {
  font-size: 16px;
  font-family: ubuntu-bold;
}

.desk {
  display: flex;
}

.side-bar {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-origin: border-box;
  background-size: cover;
  border-radius: 1em;
  width: 50vw;
  background-repeat: no-repeat;
  min-height: 90vh;
  font-family: ubuntu-bold;
}

h4 {
  text-transform: uppercase;
  color: hsl(231deg, 100%, 99%);
}

li h4:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
}

.list {
  position: relative;
  top: 2em;
  left: 2em;
}

li {
  list-style-type: none;
  position: relative;
  margin-bottom: 4em;
  color: hsl(231deg, 100%, 99%);
}

li::before {
  position: absolute;
  width: 2em;
  height: 2em;
  left: -30px;
  top: 6px;
  border-radius: 50%;
  border: 2px solid hsl(231deg, 100%, 99%);
  content: "";
}

li:nth-child(3)::before {
  background-color: hsl(206deg, 94%, 87%);
}

.side-bar div {
  margin-left: 2em;
}

div > p:not(main p) {
  position: absolute;
  left: -1em;
}

.header {
  display: inline-block;
}

.header p {
  color: hsl(229deg, 24%, 87%);
}

.header:first-child {
  color: hsl(213deg, 96%, 18%);
  font-weight: 900;
  margin-bottom: 2em;
}

.header:nth-child(2) {
  color: hsl(231deg, 11%, 63%);
  margin-bottom: 2em;
}

.wrapper {
  width: 500px;
}

.wrapper div:not(:last-child, .container) {
  border: 2.2px solid hsl(243deg, 100%, 62%);
}

.wrapper div:last-child {
  border: 2.2px solid hsl(229deg, 24%, 87%);
}

.wrapper div {
  margin-bottom: 1em;
  border-radius: 8px;
}

.main-container:last-child:hover {
  cursor: pointer;
  border: 2.2px solid hsl(243deg, 100%, 62%);
}

.container {
  display: flex;
  justify-content: space-between;
}

.container + p {
  margin: -1.4em 0 1em 4.2em;
  color: hsl(229deg, 24%, 87%);
  font-weight: 600;
}

.container p:nth-child(3) {
  color: hsl(228deg, 100%, 84%);
  margin-right: 3em;
}

input {
  margin: 4em 0 0 2em;
  cursor: pointer;
  position: relative;
  accent-color: hsl(243deg, 100%, 62%);
}

input + p {
  color: hsl(213deg, 96%, 18%);
  font-weight: 900;
  margin-left: -9em;
  padding: 0;
  min-width: 143px;
}

main {
  margin: 2em -2em 0 4em;
  min-height: 90vh;
  width: 500px;
  position: relative;
}

#error-box {
  color: hsl(354deg, 84%, 57%);
  position: absolute;
  left: 50%;
}

#page-2 {
  position: absolute;
  top: 0.6em;
  left: 50%;
}

.navigation {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  left: -80px;
  max-height: 30px;
}

.navigation a {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
  cursor: pointer;
}

.navigation a:hover {
  color: hsl(213deg, 96%, 18%);
}

main button {
  background-color: hsl(213deg, 96%, 18%);
  position: relative;
  top: -1.32em;
  left: 11.8em;
  padding: 1em 1.3em;
  text-align: center;
  color: hsl(231deg, 100%, 99%);
  border-radius: 3px;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */