// ### Primary

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// ### Neutral
$Coolgray: hsl(231, 11%, 63%);
$Lightgray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100);

//form colors
$formInvalid:$Strawberry-red;
$formValid:greenYellow;
.active{
    display: block;
}
.inactive{
    display: none;
}
@font-face {
    font-family:ubuntu-bold ;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}
*{
    box-sizing: border-box;
    font-family: ubuntu-bold;
  
}
body{
    font-size: 16px;
}
.desk{
    display: flex;
}

.side-bar{
   background-image:url('/assets/images/bg-sidebar-mobile.svg') ;  
background-origin: border-box;
   background-size: cover;
   border-radius: 1em;
width: 50vw;
  background-repeat: no-repeat;
height: 90vh;

}
h4{
    text-transform: uppercase;
    color: $Alabaster;
}
li h4:nth-child(2){
    color: $Coolgray;
}
.list{
    position: relative;
    top: 2em;
    left: 2em;
    width: 70%;
 
}
li{
  list-style-type:none ;
    position: relative;
    margin-bottom: 2em;
    color: $Alabaster;
    
}
li::before{
    
    position: absolute;
    width: 2em;
    height: 2em;
    left: -30px;
    top: 6px;
    border-radius: 50%;
border:2px solid $Alabaster;
    content: '';
 
}
li:first-child::before{
    background-color: $Light-blue;
}
.side-bar div{
    margin-left: 2em;
}
div p{
    position: absolute;
    left: -1em;
}


// main bar
.main-page{
    margin:2em -2em 0 4em;
    position: relative;
}
.main-page h3:first-child{
color: $Marine-blue;
// font-family: $bold;
}
.main-page h3:nth-child(2){
    text-transform: capitalize;
    color:$Coolgray;
    font-size: 16px;
    margin-bottom: 4em;
    
}
.main-page input{
margin-bottom: 4em;
padding: .8em;
width: 90%;
// border-radius: 3px;

}

label{
    color: $Marine-blue;
width: 200px;
    overflow-x: hidden;
    display: inline-block;
    min-height: 20px;
    z-index: 100;
}
.set-error{
  border:1px solid $formInvalid
}
.error{
    color: $formInvalid;
    font-size: 13px;
    display: inline;
    position: relative;
right: -2.5em;
    margin: 0;
    padding: 0;
}
.set-success{
    border:1px solid $formValid
}
.main-page button{
    background-color: $Marine-blue;
    position: absolute;
    left: 16em;
    padding: 1.3em;
    color: $Alabaster;
    border-radius: 3px;
    cursor: pointer;
}
.fa-check{
    position: relative;
    left: -1.3em;
    top: .3em;

}
#btn-link{
    
    padding: 2em;
    position: relative;
    left: 8em;
}
// mobile design

@media screen and (max-width:600px) {
   body{
       padding: 0;
       margin: 0;
       outline: 0;
   }
    .desk{
        display: block;
    
        // height: 80vh;
    }
    .app{
        background-color: $Light-blue;
        height: 100vh;
    } .side-bar{
        background-size: contain;
     width: 100%;;
     height:490px;
     position: relative;
     top: -2em;
     
     }
    .list{
        display: flex;
        justify-content: center;
        left: 20%;
        top: 100px;
    }
    li{
        margin-right: 2em;
margin-top: -4em;
       
    }
    li h4{
       display: none;
      
    }

    //main page
    .main-page{
        margin:2em -2em 0 4em;
        border:1px solid $Lightgray;
        border-radius: .2em;
        position: absolute;
        top:10%;
        left:-15%;
        width: 98%;
        background-color: $Alabaster;
        height: 420px;
        padding:1em 0 0 2em;
    }
    .main-page h3:nth-child(2){
        margin-bottom: 2em;
        font-size: 16px;
     
        
    }
    .main-page input{
        margin-bottom: 1em;
        }
        .main-page button{
           bottom: -17em;
            left: 19em;
            padding: 1em;
            width: 100px; ;
            
        }
        .error{
            color: $formInvalid;
            font-size: 13px;
            display: inline;
            position: relative;
        right: -50px;
            margin: 0;
            padding: 0;
          
        }
}
